body{

    color:  #6529feff;
    background-color:  #f2f1f1fe;
    
}

lottie-player {

    margin-left: auto;
    margin-right: auto;
    display: block;
}

lottie-player:hover{

    cursor: pointer;
}



h6:hover{

    cursor: pointer;
    background-color: rgb(218, 212, 212);
    border: 1px solid purple;
    border-radius: 7px;
    
}

.card-header {

    background-color: #6529feff;
    color:  #f2f1f1fe;
}

.card-body{

    border-radius: 50px;

    
             
}

.card{

    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
}